// Add your loading template CSS here
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-loading-template-layout {
  background-color: #fff;
  // More styles as needed...
}
